*.hpp linguist-detectable=false
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.c linguist-detectable=false
*.cmake linguist-detectable=false
*.mk linguist-detectable=false

/android/sdk/*.java linguist-detectable=false
/android/opencv/*.java linguist-detectable=false
/android/documentscanner/*.java linguist-detectable=false
