<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 기능 -->
    <!--  카메라  -->
    <uses-feature android:name="android.hardware.camera.any" />

    <!-- NFC -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- 권한 -->
    <!-- 카메라 사용 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 외부 저장소(갤러리) 읽고 쓰기 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- NFC 사용 권한 -->
    <uses-permission android:name="android.permission.NFC" />

    <!--  HTTP 통신 인터넷 사용권한  -->
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="android.nfc.action.TECH_DISCOVERED"
        android:resource="@xml/nfc_tech_filter" />

    <application
        android:name=".CardApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">

        <!-- text recognition -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <!-- To use multiple models: android:value="ocr,model2,model3" -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".card.CardDetailsActivity"
            android:screenOrientation="portrait"></activity>

        <!--  공유모드를 위한 별도의 액티비티  -->
        <activity
            android:name=".share.ShareActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Android">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <!--  NFC 기능 사용을 위한 별도의 액티비티  -->
        <activity
            android:name=".share.NfcActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <!--  QR 기능 사용을 위한 별도의 액티비티  -->
        <activity
            android:name=".share.QrActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".custom.MediaCardActivity"
            android:screenOrientation="portrait" />

        <!--  OCR, DocumentScanner 액티비티  -->

        <activity
            android:name=".ocr.DocumentScannerActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ocr.StillImageActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1320519775352968"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <!--  저버전 외부 저장소   -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.youme.naye.camera.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
