* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-user-drag: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body { 
  width: 100vw;
  height: 100vh;
}
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* Test */
  /* position: fixed;
  overflow: hidden;*/
