.container {
  position: sticky;
  width: 99vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  max-width: 90%;
  max-height: 90%;
  /* background-color: gray; */
  padding: 3rem;
}
.cardImage {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
